* {
  box-sizing: border-box;
}

@keyframes bouncy {
  0%   { top: 0em; }
  40%  { top: 0em; }
  43%  { top: -0.9em; }
  46%  { top: 0em; }
  48%  { top: -0.4em; }
  50%  { top: 0em; }
  100% { top: 0em; }
}

body {
  background: url('https://i.imgur.com/VlHoOna.gif');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
  color: #fff;
}

body:before {
  display:inline-block;
  height:100%;
  content:'';
  vertical-align:middle;
}

button {
  position:relative;
  padding:0 2em;
  border:none;
  background:#1AAB8A;
  height: 3em;
  color:#fff;
  font-size:1.6em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button:hover {
  background:#fff;
  color:#1AAB8A;
}

button:before,
button:after {
  position:absolute;
  top:0;
  right:0;
  width:0;
  height:2px;
  background: #1AAB8A;
  content:'';
  transition:400ms ease all;
}

button:after {
  top:inherit;
  right:inherit;
  bottom:0;
  left:0;
}

button:hover:before,
button:hover:after {
  width:100%;
  transition:800ms ease all;
}

header {
  border-bottom: 1px inset #666;
  margin: auto;
  padding-bottom: 5em;
  text-align: center;
  width: 70%;
}


@keyframes flash {
    from {color: rgb(242, 107, 23);}
    to {color: #BADA55;}
}

header h1 {
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  color: #BADA55;
  font-size: 6em;
  margin: 0.5em 0;
  padding: 0;
  
}

.pack-it-input {
  height: 2.5em;
  font-size: 2em;
  margin-top: 3em;
  padding: 0.5em;
  width: 50%;
}

.pack-it-button {
  margin-left: 1em;
  padding: 0.5em;
}

.item-container {
  margin-top: 5em;
}

.item-card:first-child {
  border-top-color:#7cbfcf;
  border-top-style:double;
  border-top-width:8px;
}

.item-card {
  border-bottom-color:#7cbfcf;
  border-bottom-style:double;
  border-bottom-width:8px;
  margin: auto;
  margin-top: 2em;
  width: 50%;
}

.item-card-a {
  display: flex;
  justify-content: space-between;
  margin: 2em 3em;
}

.item-card-a h3 {
  font-size: 3em;
  margin: 0em;
}

.item-card-b {
  margin-left: 2em;
  margin-bottom: 2em;
}

.item-packed {
  margin-left: 1em;
  margin-right: 2em;
  transform: scale(2);
  zoom: 2;
}

label {
  font-size: 3em;
}

.delete-card {
  animation: bouncy 5s infinite linear;
  position: relative;
}

